# Virtual Environment
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep
!models/model_metadata.json

# System & IDE
.DS_Store
.vscode/
.idea/
